.skill-bar-wrapper .skill .skill-name{

    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
} 


.skill-bar-wrapper .skill .progress{
    border-radius: 0;
    height: 10px;
    background: rgba(255, 255, 255, 0.2);
    
}

.skill-bar-wrapper .skill .progress .progress-bar{
    
    background-color: #18d26e;
}
